window.thunar {
    background: none;

    treeview {
        background: none;
    }

    grid {
        *:selected,
        *:active {
            background: $background-2;
            border-radius: 3px;
        }
    }

    .sidebar {
        background: $background-2;
        border: solid 0px transparent;
        padding: 1rem;
    }

    treeview {
        padding: 3px;
        border: solid 0px transparent;
        color: $foreground-color;
        &:selected {
            background: none;
            color: $foreground-color;
            font-weight: bold;
        }
    }

    .frame {
        border: 0;
    }

    toolbar {        
        entry {
            background: $background-1;
            border-radius: 10px;

            margin: 2px 2em 2px 1em;
            padding: 0px 1rem;

            image {
                background-image: image(rgba(255, 255, 255, 0));
            }
        }
    }

    paned grid {
        background: $background-1;
    }

    toolbar {
        background: $background-3;
        padding: 5px 0;
    }

    toolbar * {
        background: none;
    }

    /* hide separator */
    separator {
        // same background-color
        background-image: image(rgb(217, 220, 225));
        background-size: 1px 1px;
        background-position: center center;
    }
}
